[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
black = "*"
flake8 = "*"
requests = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.9.1"
